html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.app-body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: left;
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  /* padding: 1rem; */
}
